.hero-container {
  background-color: #495e57;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt-container {
  display: flex;
  align-items: self-start;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  width: 30%;
  padding: 48px;
}
h1,
h2 {
  margin: 0;
  font-family: "Markazi Text";
}
h1 {
  color: #f4ce14;
  font-weight: 400;
}
h2 {
  color: #edefee;
  font-weight: 300;
}
p {
  font-family: "Karla";
  color: #edefee;
}
button {
  background-color: #f4ce14;
  border-radius: 16px;
  padding: 8px 16px;
  text-decoration: none;
  border: none;
  font-family: "Karla";
  font-weight: 600;
  line-height: 1.75;
  font-size: 16px;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
}
.img-container img {
  width: inherit;
  margin-top: 72px;
  border-radius: 16px;
  position: fixed;
}
