.hero-container {
  background-color: #495e57;
  display: flex;
  align-items: center;
  justify-content: center;
}
.txt-container {
  display: flex;
  align-items: self-start;
  justify-content: center;
  flex-direction: column;
  text-align: start;
  width: 30%;
  padding: 48px;
}
h1,
h2 {
  margin: 0;
  font-family: "Markazi Text";
}
.hero-container h1 {
  color: #f4ce14;
  font-weight: 400;
}
.hero-container h2 {
  color: #edefee;
  font-weight: 300;
}
p {
  font-family: "Karla";
  color: #edefee;
}
.img-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 280px;
}
.img-container img {
  width: inherit;
  margin-top: 72px;
  border-radius: 16px;
  position: absolute;
}
